/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Structure */
header {
    margin: 1rem;
    padding: 1rem;
    height: 50px;
}

main {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    align-items: center;
}

.formulaire-calculette {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: 0.5rem;
}

.boite-input-valeurs {
    flex-direction: row;
}

.boite-operateur {
    flex-direction: row;
    flex-wrap: wrap;
}

/* Titres et texte */
h1 {
    text-align: center;
}

.instructions {
    width: 70%;
    text-align: center;
}

/* Label inputs */
.input-nombre-label {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0.5rem;
}

.operateur {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: 0.5rem;
    height: 5rem;
    border: 2px solid black;
}

/* Inputs */
.input-nombre {
    width: 5rem;
    height: 3rem;
    font-size: 2rem;
}

.operateur span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    width: 60%;
}

/* Modifier le bouton radio de base */
.operateur input {
    appearance: none;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
    color: black;
    display: grid;
    place-content: center;
}

.operateur input::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 3rem 3rem blue;
}

/* Mettre le texte des opérateurs "dans" les boutons radio */
#addition::after {
    margin: auto;
    content: "+";
    font-size: 2rem;
}
#soustraction::after {
    margin: auto;
    content: "-";
    font-size: 2rem;
}
#multiplication::after {
    margin: auto;
    content: "*";
    font-size: 2rem;
}
#division::after {
    margin: auto;
    content: "/";
    font-size: 2rem;
}

.operateur input:checked::before {
    transform: scale(1);
}

.bouton-calculer {
    margin: 0.5rem;
    height: 5rem;
    width: 7rem;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: white;
}

/* Outputs */
.resultat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 70%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    font-size: 1.5rem;
}